.form_sing_up {
    display: flex;
    flex-direction: column;
    gap: 28px;

    label {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 18px;
        line-height: 22px;
        position: relative;

        &>.show {
            display: block;
            padding: 10px;
            position: absolute;
            right: 10px;
            top: 40px;
            cursor: pointer;
        }

        .error_text {
            position: absolute;
            bottom: -25px;
            right: 0;
            color: #FC3D3D;
        }

        .error_svg {
            * {
                stroke: #FC3D3D;
                fill: #FC3D3D
            }
        }
    }

    input {
        display: block;
        font-size: 18px;
        line-height: 22px;
        padding: 16px 20px 17px 20px;
        border-radius: 5px;
        border: 1px solid #3E3E3E;
    }

    .label_remember_me {
        display: flex;
        gap: 0;
        flex-direction: row;
        align-items: center;
        cursor: pointer;

        p {
            margin-left: 10px;
            padding: 5.5px 0;
        }

        .check_box {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 10px;
            bottom: 6px;
            background-image: url('../../images/checkbox.svg');
        }

        .input_checkbox {
            -webkit-appearance: none;
            appearance: none;
            border: none;

            &:checked+.check_box {
                background-image: url('../../images/check.svg');
            }
        }
    }

    .error_input {
        border: #FC3D3D solid 1px;
    }

    .error_label {
        color: #FC3D3D;
    }
}