.card-ads {
    cursor: pointer;
    border-radius: 10px;
    background: #F5F5F5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__box_img {
        width: 100%;
        max-width: 480px;
        height: 370px;
        border-radius: 10px;
        overflow: hidden;

        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        width: 100%;
        padding: 40px 75px;
        padding-bottom: 100px;

        &>div {
            display: flex;
            gap: 30px;
            align-items: center;
            margin-bottom: 16px;
        }

        h2 {
            font-family: Jost;
            font-size: 35px;
            font-weight: 600;
            line-height: 35px;
            letter-spacing: 0.35px;
            margin-bottom: 16px;
            color: #000;
        }

        h4 {
            font-family: Jost;
            font-size: 27px;
            font-weight: 500;
            line-height: 27px;
            letter-spacing: 0.27px;
            color: #000000;
        }

        h5 {
            color: #000;
        }

        p {
            color: #000;
        }

    }

    &__location {
        display: flex;
        gap: 8px;
        align-items: center;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .like {
        position: absolute;
        right: 40px;
        top: 40px;
        pointer-events: none;
    }

    &__container_btn {
        position: absolute;
        right: 40px;
        bottom: 40px;
        gap: 35px;
        display: flex;

        .btn-delete {
            color: #3E3E3E;
            font-size: 19px;
            font-weight: 700;
            line-height: 19px;
            letter-spacing: 0.57px;
            padding: 20px 50px;
            border-radius: 10px;
            border: 1px solid #000;
            cursor: pointer;
            z-index: 10;

            &:hover {
                background: #000;
                color: white;
            }
        }
    }
}