.password-forgot {
  form {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    position: relative;
  }

  .error_text {
    position: absolute;
    bottom: -25px;
    right: 0;
    color: #FC3D3D;
  }
  .error {
    color: #FC3D3D;
  }

  input {
    display: block;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 20px 17px 20px;
    border-radius: 10px;
    border: 1px solid #3E3E3E;
  }

  .error_label {
    border: 1px solid #FC3D3D;
  }

  .btn {
    border-radius: 10px;
    padding: 18px 50px;
    white-space: nowrap;
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.57px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &-blue {
      background: #329BAD;

      &:hover {
        background: #177383;
      }

      &:disabled {
        background: #9ED3DC;
        pointer-events: none;
      }

      &:active {
        background: #329BAD;
      }
    }
  }
}