.btn {
    border-radius: 10px;
    background: #3E3E3E;
    padding: 18px;
    white-space: nowrap;
    color: #FFF;
    font-family: 'Kodchasan', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.57px;
    border: none;
    cursor: pointer;
}