.card_product {
    border-radius: 10px;
    background: #f4f4f4;
    backdrop-filter: blur(1px);
    padding: 8px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;

    &:hover {
        background: white;
    }

    h4 {
        color: #161616;
        text-align: center;
        font-size: 19px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.57px;
        margin-bottom: 24px;
    }

    &>button {
        position: absolute;
        right: 25px;
        bottom: 20px;
        background: inherit;
        border: none;
        cursor: pointer;
        z-index: 2;

        img {
            width: 32px;
            height: 30px;
            transition: 0.2s;
        }
    }

    &__box_img {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 17px;
        height: 230px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__location {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 35px;
        padding-bottom: 103px;

        &>h5 {
            font-size: 18px;
            line-height: 22px;
            padding-left: 15px;
            color: black;
            text-transform: lowercase;

            &:first-letter {
                text-transform: capitalize;
            }
        }

        &>img {
            width: 18px;
            display: block;
        }
    }
}