.category {
    width: 100%;
}

.header_category {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-top: 50px;
}

.box_sort_category_page {
    display: flex;
    align-items: center;
    gap: 30px;

    select {
        border-radius: 4px;
        border: 1px solid #555;
        padding: 15px;
        color: #000;
        font-size: 18px;
        font-weight: 300;
        line-height: 22px;
    }
}

.Ñategory_main_box {
    display: flex;
    width: 100%;
    padding-top: 70px;
}

.footer_category{
display: flex;
justify-content: center;
margin-bottom: 55px;
}

.filter_wrapper {
    border-radius: 10px;
    background: #E5E1E1;
    width: 100%;
    max-width: 425px;
    padding: 35px;

    &>h3 {
        color: #567A49;
        font-family: Jost;
        font-size: 27px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0.27px;
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 20px;
    }

    label {
        display: flex;
    }

    .label_city {
        font-size: 19px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.57px;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 25px;

        &>input {
            background: #F4F4F4;
            display: block;
            font-size: 18px;
            line-height: 22px;
            padding: 16px 20px 17px 20px;
            border-radius: 5px;
            border: 1px solid #3E3E3E;
        }
    }

    .box_input_checkbox_filter {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 75px;
    }
}


.form_filter {
    display: flex;
    flex-direction: column;
}

.checkbox_label {
    cursor: pointer;
    position: relative;

    p {
        margin-left: 10px;
        padding: 5.5px 0;
    }

    .check_box {
        position: absolute;
        width: 30px;
        height: 30px;
        background-image: url('../../images/checkbox.svg');
        z-index: 2;
    }

    .input_checkbox {
        width: 30px;
        -webkit-appearance: none;
        appearance: none;
        border: none;

        &:checked+.check_box {
            background-image: url('../../images/check.svg');
        }
    }
}

.cards_category {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 65px;
    width: 100%;
}