.category {
    width: 100%;

    &>.navigation {
        font-weight: 500;
        font-family: Jost;
        padding-top: 50px;
        font-size: 27px;
    }

    .hidden {
        color: #999999;
    }

    &__header {
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        padding-top: 50px;
    }

    &__header-sort {
        display: flex;
        align-items: center;
        gap: 15px;

        select {
            border-radius: 4px;
            border: 1px solid #555;
            padding: 18px 45px 15px 15px;
            color: #000;
            font-size: 18px;
            font-weight: 300;
            line-height: 22px;
            appearance: none;
            cursor: pointer;
        }

        .wrapper_select {
            position: relative;
        }

        .select_arrow_down {
            position: absolute;
            width: 10.925px;
            height: 20.194px;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        .choose-sort {
            font-weight: 300;
            font-size: 18px;
            line-height: 133%;
            border: 1px solid #555;
            border-radius: 4px;
            padding: 15px 40px;
            margin-bottom: 2px;
            cursor: pointer;
        }

        .list-sort {
            position: absolute;
            left: 0;
            top: 58px;
            border: 1px solid #c1c1c1;
            border-radius: 4px;
            padding: 15px 40px;
            padding-bottom: 0;

            li {
                font-weight: 300;
                font-size: 18px;
                line-height: 133%;
                margin-bottom: 15px; 
                cursor: pointer;       
            }
        }
    }

    &__main {
        display: flex;
        width: 100%;
        padding-top: 70px;

    }


    .cards_category {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 65px;
        width: 100%;
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-bottom: 55px;
    }

}