* {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 30px;
}

body {
  font-family: 'Kodchasan', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  background: #F4F4F4;
  color: #161616;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  padding: 0 15px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}