.advert-page {
    display: flex;
    width: 100%;
    gap: 160px;
    padding-top: 50px;
    margin-bottom: 100px;

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 45px;
        max-width: 1030px;

        &>h3 {
            color: #567A49;
            font-family: Jost;
            font-size: 32px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0.96px;
            text-align: center;
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        .wrapper_select {
            position: relative;

            span {
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                pointer-events: none;
                cursor: pointer;
            }
        }

        .titel {
            input {
                padding: 30px;
            }
        }

        label {
            &>p {
                color: #161616;
                font-weight: 700;
                margin-bottom: 8px;
            }
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 15px 30px;
            border-radius: 10px;
            border: 1px solid #3E3E3E;
            font-size: 18px;
            font-weight: 300;

            &::placeholder {
                text-align: center;
            }
        }

        textarea {
            min-height: 400px;
        }

        button {
            margin: 0 auto;
            width: fit-content;
            min-width: 330px;
        }

        .container_box_input {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            margin-top: 30px;
        }

        &__input-city {
            position: relative;
        }

        &__list-city,
        &__list-category {
            background: white;
            padding: 15px 30px;
            position: absolute;
            left: 0;
            right: 0;
            top: 83px;
            border: 1px solid #3E3E3E;
            max-height: 450px;
            overflow-y: scroll;
            z-index: 2;

            li {
                margin-bottom: 10px;
                cursor: pointer;
                display: block;

                &:hover {
                    color: #567A49;
                    font-weight: 700;
                }
            }
        }

        &__input-category {
            position: relative;
        }


        &__list-category {
            top: 51px;
        }
    }


    .box_delivery_method {
        display: flex;

        &>div {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 460px;
            column-gap: 100px;
            margin-left: 60px;
        }
    }

    .wrapper_checkbox {
        display: flex;
        width: calc((100% - 100px) / 2);
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        position: relative;
        margin-bottom: 30px;

        p {
            margin-left: 25px;
            margin-bottom: 0;
        }

        .check_box {
            position: absolute;
            width: 15px;
            height: 15px;
            background-image: url('../../images/checkbox.svg');
            background-size: cover;
        }

        .input_checkbox {
            -webkit-appearance: none;
            appearance: none;
            border: none;
            width: 0;
            padding: 0;
            font-size: 0;

            &:checked+.check_box {
                background-image: url('../../images/check.svg');
            }
        }
    }

    .box_state_product {
        display: flex;

        &>div {
            display: flex;
            margin-left: 132px;
            column-gap: 40px;
        }
    }

    .wrapper_radio {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        position: relative;

        p {
            margin-left: 25px;
            margin-bottom: 0;
        }

        .radio {
            position: absolute;
            width: 15px;
            height: 15px;
            background-image: url('../../images/radio_empty.svg');
            background-size: cover;
        }

        .input_radio {
            -webkit-appearance: none;
            appearance: none;
            border: none;
            width: 0;
            padding: 0;
            font-size: 0;

            &:checked+.radio {
                background-image: url('../../images/radio_active.svg');
            }
        }
    }

}