.slider {
    width: 100%;
    max-width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .active_slide {
        margin-bottom: 55px;
        position: relative;
        width: 600px;
        height: 600px;
        cursor: pointer;
        &>img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .left_arrow{
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .right_arrow{
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .container_picture {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
    }

    .box_picture {
        max-width: 125px;
        width: calc((100% - 75px) / 6);
        height: 95px;
        overflow: hidden;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}